.sevemain{
    background-image: url(C:\Users\DELL\Desktop\dbms2\frontend\src\assets\vip.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1500px;
    height: 1200px;
}